$brand-primary: #d47887;
$body-bg: #111;
$body-color:  #eee;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);


html {
  font-family: 'Roboto Slab', serif;
}

.wrapper {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
   > * {
    flex: 1;
   }
}

.search {
  margin: 0 0.8em 0.8em 0;
}

.gallery  {
  flex: 1.5;
  display: flex;
  flex-wrap: wrap;
  justify-content : flex-start;
  align-content: center;
}


/* Common style */
.gallery figure {
  position: relative;
  overflow: hidden;
  flex: 1;
  flex-basis: 200px;
  margin: 0 0.8em 0.8em 0;
  text-align: center;
  cursor: pointer;
}

@include media-breakpoint-down(sm) { 
  .wrapper > * {
    flex: 1;
    flex-basis: 100%;
  }

}

.gallery figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  opacity: 0.8;
}

.gallery figure figcaption {
  padding: 1em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery figure figcaption::before,
.gallery figure figcaption::after {
  pointer-events: none;
}

.gallery figure figcaption,
.gallery figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.gallery figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.gallery figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.gallery figure h2 span {
  font-weight: 800;
}

.gallery figure h2,
.gallery figure p {
  margin: 0;
}

.gallery figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

figure.effect-chico:hover img {
  opacity: 0.3;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-chico figcaption {
  padding: 2em;
}

figure.effect-chico figcaption::before {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
  border: 1px solid #fff;
  content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
  padding: 15% 0 20px 0;
  opacity: 0;
}

figure.effect-chico p {
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-chico:hover h2 {
  opacity: 1;
}

@media screen and (max-width: 50em) {
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
