/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
   > * {
    flex: 1;
   }

}

.gallery  {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content : flex-start;
  align-content: center;
  > * {
    flex: 1;
    flex-basis: 200px;
    margin: 0 1em 1em 0;
    background: #eee;
  }
}

img {
  max-width: 200px;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
